*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

h1{
    text-align: center;
}

.formularioLogin{
    border: rgb(16, 34, 2) 2.5px solid;
    border-radius: 6px;
    position: relative;
    width  : 400px;
    max-width: 100%;
    margin : auto;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 7px 12px 37px #000;
}
.datos{
    border: rgb(16, 34, 2) 1px solid;
    border-radius: 4px; 
    font-family: 'calibri';
    font-size: 20px;
    width: 100%;
}

.formularioLogin #boton_enviar{
    border: rgb(16, 34, 2) 2.5px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}